openapi: 3.0.3
info:
  title: Jade Diabetes REST Authentication API
  version: '1.0'
  description: Jade Diabetes (Manage BGL) REST API for reading and writing diabetes management data securely — blood glucose logs, insulin doses, carbohydrate entries, user settings/ratios, and BGL predictions. Faithfully modeled from the provider's published REST reference at https://jadediabetes.com/api/api-rest/index.html. This is an API Evangelist enrichment artifact generated from the public documentation, not a provider-published specification.
  x-apievangelist-provenance:
    generated: '2026-07-20'
    method: generated
    source: https://jadediabetes.com/api/api-rest/index.html
  contact:
    name: Jade Diabetes Support
    email: Support@JadeDiabetes.com
    url: https://jadediabetes.com/contact/index.html
servers:
- url: https://app.jadediabetes.com/api/1.0
  description: Production API (v1.0)
security:
- clientToken: []
tags:
- name: Authentication
  description: Account creation, login, token, and session operations
paths:
  /create_account:
    post:
      tags:
      - Authentication
      operationId: createAccount
      summary: Register a new user account
      description: Register a new Jade Diabetes user account.
      responses:
        '200':
          description: Account created
        '400':
          $ref: '#/components/responses/BadRequest'
        '503':
          $ref: '#/components/responses/RateLimited'
  /login:
    post:
      tags:
      - Authentication
      operationId: login
      summary: Authenticate and obtain a client login token
      description: Authenticate with email and password and receive a client login token (varchar 40) used on all subsequent requests.
      responses:
        '200':
          description: Token issued
        '401':
          $ref: '#/components/responses/Unauthorized'
        '400':
          $ref: '#/components/responses/BadRequest'
  /get_token.html:
    post:
      tags:
      - Authentication
      operationId: getToken
      summary: OAuth-style token exchange (preferred for sensitive data)
      responses:
        '200':
          description: Token issued
        '401':
          $ref: '#/components/responses/Unauthorized'
  /logout:
    post:
      tags:
      - Authentication
      operationId: logout
      summary: Invalidate the current token
      responses:
        '200':
          description: Token invalidated
        '401':
          $ref: '#/components/responses/Unauthorized'
  /nonce:
    get:
      tags:
      - Authentication
      operationId: nonce
      summary: Obtain a one-time web login password
      responses:
        '200':
          description: Nonce issued
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  responses:
    Unauthorized:
      description: Expired or invalid token
    RateLimited:
      description: Rate limit exceeded (per-app and per-user)
    BadRequest:
      description: Invalid input parameter
  securitySchemes:
    clientToken:
      type: apiKey
      in: query
      name: token
      description: Client login token (varchar 40) obtained from POST /login (or the OAuth-style /get_token.html for sensitive data). Passed as the `token` parameter on every subsequent request. HTTPS/SSL required.
