openapi: 3.0.3
info:
  title: Jade Diabetes REST Authentication System API
  version: '1.0'
  description: Jade Diabetes (Manage BGL) REST API for reading and writing diabetes management data securely — blood glucose logs, insulin doses, carbohydrate entries, user settings/ratios, and BGL predictions. Faithfully modeled from the provider's published REST reference at https://jadediabetes.com/api/api-rest/index.html. This is an API Evangelist enrichment artifact generated from the public documentation, not a provider-published specification.
  x-apievangelist-provenance:
    generated: '2026-07-20'
    method: generated
    source: https://jadediabetes.com/api/api-rest/index.html
  contact:
    name: Jade Diabetes Support
    email: Support@JadeDiabetes.com
    url: https://jadediabetes.com/contact/index.html
servers:
- url: https://app.jadediabetes.com/api/1.0
  description: Production API (v1.0)
security:
- clientToken: []
tags:
- name: System
  description: Health checks and operational status
paths:
  /ping:
    get:
      tags:
      - System
      operationId: ping
      summary: Verify API operational status
      responses:
        '200':
          description: API healthy
  /ping_db:
    get:
      tags:
      - System
      operationId: pingDb
      summary: Verify database operational status
      responses:
        '200':
          description: Database healthy
components:
  securitySchemes:
    clientToken:
      type: apiKey
      in: query
      name: token
      description: Client login token (varchar 40) obtained from POST /login (or the OAuth-style /get_token.html for sensitive data). Passed as the `token` parameter on every subsequent request. HTTPS/SSL required.
