openapi: 3.0.3
info:
  title: Jade Diabetes REST API
  version: "1.0"
  description: >-
    Jade Diabetes (Manage BGL) REST API for reading and writing diabetes
    management data securely — blood glucose logs, insulin doses, carbohydrate
    entries, user settings/ratios, and BGL predictions. Faithfully modeled from
    the provider's published REST reference at
    https://jadediabetes.com/api/api-rest/index.html. This is an API Evangelist
    enrichment artifact generated from the public documentation, not a
    provider-published specification.
  x-apievangelist-provenance:
    generated: '2026-07-20'
    method: generated
    source: https://jadediabetes.com/api/api-rest/index.html
  contact:
    name: Jade Diabetes Support
    email: Support@JadeDiabetes.com
    url: https://jadediabetes.com/contact/index.html
servers:
  - url: https://app.jadediabetes.com/api/1.0
    description: Production API (v1.0)
security:
  - clientToken: []
tags:
  - name: Authentication
    description: Account creation, login, token, and session operations
  - name: Logs
    description: Creating, updating, deleting, and extracting diabetes log data
  - name: Settings
    description: User ratios and configuration
  - name: Predictions
    description: Subscriber-only BGL prediction and dose features
  - name: System
    description: Health checks and operational status
paths:
  /create_account:
    post:
      tags: [Authentication]
      operationId: createAccount
      summary: Register a new user account
      description: Register a new Jade Diabetes user account.
      responses:
        '200': { description: Account created }
        '400': { $ref: '#/components/responses/BadRequest' }
        '503': { $ref: '#/components/responses/RateLimited' }
  /login:
    post:
      tags: [Authentication]
      operationId: login
      summary: Authenticate and obtain a client login token
      description: Authenticate with email and password and receive a client login token (varchar 40) used on all subsequent requests.
      responses:
        '200': { description: Token issued }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '400': { $ref: '#/components/responses/BadRequest' }
  /get_token.html:
    post:
      tags: [Authentication]
      operationId: getToken
      summary: OAuth-style token exchange (preferred for sensitive data)
      responses:
        '200': { description: Token issued }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /logout:
    post:
      tags: [Authentication]
      operationId: logout
      summary: Invalidate the current token
      responses:
        '200': { description: Token invalidated }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /nonce:
    get:
      tags: [Authentication]
      operationId: nonce
      summary: Obtain a one-time web login password
      responses:
        '200': { description: Nonce issued }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /add:
    post:
      tags: [Logs]
      operationId: addLog
      summary: Log a single entry
      description: Add a single diabetes log entry (BGL, insulin, carbohydrates, notes).
      responses:
        '200': { description: Entry logged }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '503': { $ref: '#/components/responses/RateLimited' }
  /add_logs:
    post:
      tags: [Logs]
      operationId: addLogs
      summary: Log multiple entries
      responses:
        '200': { description: Entries logged }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /add_deleted:
    post:
      tags: [Logs]
      operationId: addDeleted
      summary: Record a deleted log entry
      responses:
        '200': { description: Recorded }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /update:
    post:
      tags: [Logs]
      operationId: updateLog
      summary: Modify a log entry
      responses:
        '200': { description: Entry updated }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
  /update_logs:
    post:
      tags: [Logs]
      operationId: updateLogs
      summary: Modify multiple log entries
      responses:
        '200': { description: Entries updated }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /delete:
    post:
      tags: [Logs]
      operationId: deleteLog
      summary: Remove a log entry
      responses:
        '200': { description: Entry removed }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
  /extract:
    get:
      tags: [Logs]
      operationId: extract
      summary: Retrieve log data by date range
      description: Retrieve diabetes log data for a UTC date range (Y-m-d H:i:s).
      responses:
        '200': { description: Log data }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /log_range:
    get:
      tags: [Logs]
      operationId: logRange
      summary: Get the first and last log dates available
      responses:
        '200': { description: Date range }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /sync_status:
    get:
      tags: [Logs]
      operationId: syncStatus
      summary: Check the latest sync timestamp
      responses:
        '200': { description: Sync status }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /settings:
    get:
      tags: [Settings]
      operationId: getSettings
      summary: Get user ratios and configuration
      responses:
        '200': { description: User settings }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /import:
    post:
      tags: [Logs]
      operationId: importData
      summary: Import diabetes data files
      description: Import diabetes data files (subscriber feature).
      responses:
        '200': { description: Import accepted }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /avatar:
    post:
      tags: [Settings]
      operationId: uploadAvatar
      summary: Upload a user avatar
      responses:
        '200': { description: Avatar uploaded }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /predict:
    post:
      tags: [Predictions]
      operationId: predict
      summary: Retrieve BGL predictions (subscribers only)
      description: Predict blood glucose levels hours ahead. Subscriber-only.
      responses:
        '200': { description: Predictions }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /ping:
    get:
      tags: [System]
      operationId: ping
      summary: Verify API operational status
      responses:
        '200': { description: API healthy }
  /ping_db:
    get:
      tags: [System]
      operationId: pingDb
      summary: Verify database operational status
      responses:
        '200': { description: Database healthy }
components:
  securitySchemes:
    clientToken:
      type: apiKey
      in: query
      name: token
      description: >-
        Client login token (varchar 40) obtained from POST /login (or the
        OAuth-style /get_token.html for sensitive data). Passed as the `token`
        parameter on every subsequent request. HTTPS/SSL required.
  responses:
    BadRequest:
      description: Invalid input parameter
    Unauthorized:
      description: Expired or invalid token
    NotFound:
      description: Resource not found
    RateLimited:
      description: Rate limit exceeded (per-app and per-user)
